<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Payment Test Example
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit();">

    <ion-item>
      <ion-label floating>Card Number</ion-label>
      <ion-input text-capitalize type="number" formControlName="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Exp. Month</ion-label>
      <ion-input text-capitalize type="number" formControlName="expMonth"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Exp. Year</ion-label>
      <ion-input text-capitalize type="number" formControlName="expYear"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>CVC</ion-label>
      <ion-input text-capitalize type="number" formControlName="cvc"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Amount</ion-label>
      <ion-input text-capitalize type="number" formControlName="amount"></ion-input>
    </ion-item>

  </form>

  <div class="spacer" style="width: 300px; height: 20px;"></div>

  <button ion-button color="dark" block outline (click)="toPay()">To Pay</button>
</ion-content>